body {
    font-family: 'Inter', sans-serif;
    background-color: white;
}
.logo {
    font-weight: 700;
    letter-spacing: -1px;
    color: #bc1414;
}
.input-container {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #e5e7eb;
    padding-bottom: 8px;
    margin-bottom: 24px;
}
.input-container:focus-within {
    border-bottom-color: #9ca3af;
}
.input-field {
    border: none;
    outline: none;
    width: 100%;
    padding: 8px 40px 8px 12px; 
    font-size: 16px;
    background: transparent;
}
.input-icon {
    color: #9ca3af;
    margin-right: 8px;
}
/* Bouton œil */
.toggle-password {
    position: absolute;
    right: 8px;
    cursor: pointer;
    color: #acafb3;
    font-size: 0.9rem;
    user-select: none;
    background: transparent;
    border: none;
    padding: 0;
}
.toggle-password:focus {
    outline: none;
    color: #9ca3af;
}
.input-icon {
    color: #9ca3af;
    margin-right: 8px;
}

.link-forgot {
    color: #6b7280;
    font-size: 14px;
}
.link-forgot:hover {
    color: #56b6a8;
}
.logo-font {
    font-family: 'Cubest', sans-serif;
}

.btn-primary {
    background-color: #bc1414;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;

}
.btn-primary:hover {
    background-color: #ff9700;
}
